/* Font */
@import url('https://fonts.google.com/specimen/Roboto+Condensed');

/*  */
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
}

.brandlogo img {
    display: flex;
    justify-content: flex-start;
    width: 15vw;
   margin-top: 10px;
    padding-left: 10px;


}

.nav_ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 120px;
    list-style: none;
    width: 70vw;
}

.nav_ul li {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

a {
    text-decoration: none;

}

/*Comienza diseño responsive*/
@media screen and (min-width: 390px) and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
    }


    .brandlogo img {
        width: 35vw;
    }

    .nav_ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin-right: 2px;

    }

}